<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
      <h1>{{ message }}</h1>

      <p>{{error}}</p>

      <form action="add_comp.php">

      <label>商品ID</label>
      <input type="text" name="id" ><br>
      <label>商品名</label>
      <input type="text" name="name" ><br>
      <label>金額</label>
      <input type="text" name="price" ><br>
      <label>在庫数</label>       
      <input type="text" name="stock" ><br><br>
      <input type="submit" value="登録">
      </form>
      <input type="button" onclick="location.href='index.php'"value="戻る">

  </body>
</html>